<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="all" />

  <!-- google fonts -->
  <!-- poppins: 100 - 900 /w italic -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <!-- fonts awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script type="module" src="javascripts/interact.js"></script>

  <title>Home</title>
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="content-wrap">
        <i class="far fa-circle" style="font-size: 66px; color: #D7F205;"></i>
        <i class="fas fa-circle" style="font-size: 33px; color: #D7F205;"></i>
        <h2>Data – <br /> Visualizer</h2>
        <p>
          A <b>bespoke</b> visual and dynamic experience for your company's
          financial data.
        </p>
        <h3>Try it for yourself<i class="fas fa-chevron-circle-right" id="toggle" style="font-size: 33px; color: #D7F205;"></i></h3>
        <p>copyright 2021</p>
      </div>
      <!-- content-wrap -->
    </div>
    <!-- content -->
  </div>
  <!-- container -->
  <div class="content-side">
    <aside>
    <nav><i class="fas fa-times"></i></nav>
    <a href="/login">

      <button class="button-64" role="button"><span class="text">Login</span></button>
    </a>
    <button class="button-64" role="button"><span class="text">Sign Up</span></button>
  </aside>
  </div>
  <!-- content-side -->
</body>
</html>
