<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="all">

    </head>
    <body>
        <nav>
          <p>Just a placeholder paragraph</p>
        </nav>
        <main>
            <h1 class="test">Maybe a header?</h1>
            <p>Some more text here I guess</p>
        </main>
        <footer>
            <h2>Welcome to the fooottterrr!!</h2>
        </footer>

        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js" 
            integrity="sha256-oUJV5o/Jn8W0qLMjwTBwrGf0J3WRdwb9OxR7Q2gQpdo=" 
            crossorigin="anonymous">
        </script>
        <script type="module" src="javascripts/main.js"></script>
    </body>
</html>