<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/style.css"
      media="all"
    />
    <title>test</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <p>Just a placeholder paragraph</p>
      </nav>
      <main>
        <h1 class="test">Maybe a header?</h1>
        <p>Some more text here I guess</p>
      </main>

      <div class="greensock-test">
        <img src="/images/test-2.png">
      </div>
      

      <footer>
        <h2>Welcome to the fooottterrr!!</h2>
      </footer>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"
      integrity="sha256-oUJV5o/Jn8W0qLMjwTBwrGf0J3WRdwb9OxR7Q2gQpdo="
      crossorigin="anonymous"
    ></script>
    <script type="module" src="javascripts/main.js"></script>
  </body>
</html>
