<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="all" />
  <!-- google fonts -->
  <!-- poppins: 100 - 900 /w italic -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <!-- fonts awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <title>login</title>
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="content-wrap">
        <div class="login">
          <form action="/login" method="POST" class="login-form">
            <h2>Login</h2>
            <label for="email">
              <input type="text" name="email" placeholder="e-mail">
            </label>
            <label for="password">
              <input type="password" name="password" placeholder="password">
            </label>
            <input type="submit">
          </form>
        </div>
      </div>
      <!-- content-wrap -->
    </div>
    <!-- content -->
</bdy>

</html>