<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all" /> -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/user.css" media="all" />
  <!-- google fonts -->
  <!-- poppins: 100 - 900 /w italic -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />

  <!-- fonts awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <script type="module" src="/javascripts/app.js"></script>
  <script type="module" src="/javascripts/interact.js"></script>


  <title>USER</title>
</head>

<body>
  <nav>
    <h3 class="username">
      <%=username%>
    </h3>

    <i class="fas fa-sign-out-alt">Logout </i>

  </nav>
  <!-- ^^ nav ^^  -->

  <div class="container">

    <div class="menu" id="menu-slide">
      <li class="menu-item" id="create">
        <a href="" class="btn" id="create-btn">
          <i class="fas fa-plus"></i>
          Create
        </a>
          <div class="create-input-ctrls">
            <form action="/users" method="POST" class="user-form">
              <label for="title" id="cntrl-title">
                Title
                <span>
                <input type="text" placeholder="Title" name="dataset-title" id="dataset-title">
              </span>
              <span id="add-delete">
                <i class="fas fa-plus-circle add-revenue"></i>
              </span>
              </label>

              <!-- revenue group -->
              <label for="revenue" class="revenues">
                Revenue
                <aside>
                  <span>
                    <input type="text" placeholder="source of revenue" id="text-revenue0">
                    <input type="number" placeholder="amount" id="num-revenue0">
                  </span>
                  <span id="add-delete">
                    <i class="fas fa-plus-circle add-revenue"></i>
                  </span>
                </aside>
                <!-- revenue group -->
              </label>

              <label for="expense" class="expenses">
                Expense
                <aside>
                  <span>
                    <input type="text" placeholder="source of expenses" id="text-expense0">
                    <input type="number" placeholder="amount" id="num-expense0">
                  </span>
                  <span id="add-delete">
                    <i class="fas fa-plus-circle add-expense"></i>
                  </span>
                </aside>
                <!-- expense group -->
              </label>
        <li class="menu-item" id="Save">
          <button type="submit" id="submit-button">
            Save
            <i class="fas fa-share-square"></i>
          </button>
        </li>
        </form>
      </div>
      </li>
      </li>

      <li class="menu-item" id="previous-graphs">
        <a href="#previous-graphs" class="btn" id="previous-btn">
          <i class="fas fa-history"></i>
          Previous
        </a>
        <div class="menu-item__sub" id="previous-menu-item__sub">
          <form action="/users/datasets" method="GET" class="drop-down-form">
            <select name="drop-down-datasets" id="drop-down-datasets">
              <option value="" disable select hidden>Previous datasets</option>
              <% for (let i=0; i < datasetTitles.length; i++) { %>
                <option id="options-id">
                  <%= datasetTitles[i].dataset_name %>
                </option>
                <% } %>
            </select>
            <button type="submit" id="drop-down-button">Load</button>
          </form>
          <!-- <a href="#">Link to Previous 1</a>
            <a href="#">Link to Previous 2</a>
            <a href="#">Link to Previous 3</a> -->
        </div>
      </li>
      <li class="menu-item">
        <a href="" class="btn">
          <i class="fas fa-search"></i>
          View All
        </a>
      </li>

      <!-- onclick create this slides out -->
      <div class="menu" id="graph-controls">
    
      <!-- end of input controls -->
    </div>
  </div>
  <!-- menu div -->

  <div class="content">
    <svg 
      version="1.0" 
      xmlns="http://www.w3.org/2000/svg" 
      xmlns:xlink="http://www.w3.org/1999/xlink" 
      height="100%"
      width="100%"
      x="0px" 
      y="0px"
      id="circle-svg"
      xml:space="preserve">
    </svg>
  </div>

</body>

</html>

<!-- make input fields 1 in a row
border only bottom 
make it cleaner

fix content div sizing issue
review graph colors
finish the index 

unify ui/colors/design -->