<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/user.css" media="all" />
  <!-- google fonts -->
  <!-- poppins: 100 - 900 /w italic -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />

  <!-- fonts awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />

    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

    <script type="module" src="/javascripts/app.js"></script>
  <title>USER</title>
</head>

<body>
  <nav>
    <h3 class="username"><%= username %></h3>
    <div class="drop-down">
      <div class="created-graphs">
        <form action="/users/datasets" method="GET" class="drop-down-form">
          <select name="drop-down-datasets" id="drop-down-datasets">
            <option value="" disable select hidden>Previous datasets</option>
            <% for (let i=0; i < datasetTitles.length; i++) { %>
              <option>
                <%= datasetTitles[i].dataset_name %>
              </option>
              <% } %>
          </select>
          <button type="submit" id="drop-down-button">Load</button>
        </form>

      </div>
    </div>
    <button id="logout">Logout</button>
  </nav>
  <!-- ^^ nav ^^  -->

  <div class="container">

    <div class="input-fields">
      <form action="/users" method="POST" class="user-form">
        <input type="text" placeholder="Title" name="dataset-title" id="dataset-title">
        <!-- TITLE -->
        
        <div id="input-wrapper">
            <div class="revenues">
              <div class="title-value-revenue">
                <input type="text" placeholder="revenue type" name="text-revenue0" id="text-revenue0">
              </div>
                <input type="number" placeholder="value" name="num-revenue0" id="num-revenue0">
                <aside>
                  <i class="fas fa-plus-circle add-revenue"></i>
                  <i class="fas fa-minus-circle"></i>
                </aside>
            </div>
            <!-- revenue -->

            <div class="expenses">
              <div class="title-value">
                <input type="text" placeholder="expense type" name="text-expense0" id="text-expense0">
              </div>
                <input type="number" placeholder="value" name="num-expense0" id="num-expense0">
                <aside>
                <i class="fas fa-plus-circle add-expense"></i>
                <i class="fas fa-minus-circle"></i>
                </aside>
            </div>
            <!-- expenses -->
            <button type="submit" id="submit-button">Save</button>
            <!-- button -->
          </form>
        </div>
    </div>
    <div class="content">
      <img src="/svg/circle-placeholder-01.svg" alt="">
    </div>

    <div class="right-hand-drawer">
      <!-- incase we need a sliding right hand drawer -->
    </div>
  </div>
</body>

</html>