html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-white: #fff;
  --color-step-one: #d4fbc4;
  --color-step-two: #d8f1c4;
  --color-step-three: #e1dec1;
  --color-step-four: #e6d2c0;
  --color-step-five: #ecc5bf;
  --fontsize-header: 2em;
  --fontsize-sub: 1.3em;
  --fontsize-mega: 88px;
  --font-family: "Poppins", "helvetica", sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi: 600;
  --font-bold: 800;
  --font-black: 900;
}

/* ^ global stuff ^ */

body {
  font-family: var(--font-family);
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  display: flex;
  flex-direction: row;
}
a {
  color: var(--color-dark);
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100vh;
  padding-right: 10%;
  font: var(--font-fam);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content {
  width: 80%;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.content h2 {
  color: var(--color-dark);
  font-size: var(--fontsize-mega);
  font-weight: var(--font-black);
  line-height: 88%;
}
.content h3 {
  color: var(--color-dark);
  font-size: var(--fontsize-sub);
  font-weight: var(--font-bold);
}

.hr {
  height: 1px;
  width: 30px;
  background-color: var(--color-dark);
  margin-left: 16px;
  margin-right: 16px;
}

.content p {
  color:var(--color-dark);
  width: 66%;
}

.fa-arrow-alt-circle-right {
 font-size: var(--fontsize-header);
  color: var(--color-dark);
  animation: bounce 1.5s infinite;
}
@keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-25px);
  }
}


.fa-times {
  font-size: var(--fontsize-header);
  color: var(--color-dark);
}

/* #drawer {
  display:none;
position:fixed;


} */

.content-side {
  position: fixed;
  right: 0;
  display: none;
  width: 20%;
  height: 100%;
  padding-top: 90px;
  font-family: var(--font-family);
  background: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */

.content-side nav {
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 10;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.content-side nav i {
  color: var(--color-dark);
  font-size: 2.5em;
}

/* .graph-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.graph {
  height: 500px;
  width: 500px;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  margin-bottom: 40px;
  border-radius: 50%;
}
.input-controls {
  height: 66%;
  width: 66%;
  margin-bottom: 30px;
} */
