:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-white: #fff;
  --color-step-one: #d4fbc4;
  --color-step-two:#d8f1c4;
  --color-step-three:#e1dec1;
  --color-step-four:#e6d2c0;
  --color-step-five:#ecc5bf;
  --fontsize-header: 2em;
  --fontsize-sub: 1.3em;
  --font-family: "Poppins", "helvetica", sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi: 600;
  --font-bold: 800;
  --font-black: 900;
}
table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
  font-family: var(--font-family);
	}

th { 
	background:var(--color-step-one); 
	color: var(--color-white); 
	font-weight: var(--font-bold); 
	}

td, th { 
	padding: 10px; 
	border: 3px solid var(--color-white); 
	text-align: left; 
  color: var(--color-white);
	}

.labels tr td {
	font-weight: var(--font-bold); 
	color: var(--color-step-one);
}

.label tr td label {
	display: block;
}

[data-toggle="toggle"] {
	display: none;
}