:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-white: #fff;
  --color-step-one: #d4fbc4;
  --color-step-two: #d8f1c4;
  --color-step-three: #e1dec1;
  --color-step-four: #e6d2c0;
  --color-step-five: #ecc5bf;
  --fontsize-header: 2em;
  --fontsize-sub: 1.3em;
  --font-family: "Poppins", "helvetica", sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi: 600;
  --font-bold: 800;
  --font-black: 900;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

/*^ global ^*/

nav {
  background-color: var(--color-white);
  height: 80px;
  width: 100vw;
  position: fixed;
  z-index: 10;
  top: 0;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
.username {
  color:var(--color-dark);
}
body {
  font-family: var(--font-family);
  margin: 0;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
a {
  color: var(--color-dark);
  text-decoration: none;
}
.container {
width: 100%;
height: 100%;
padding-top: 80px;
display: flex;
flex-direction: row
}

.content {
  background: chartreuse;
  width: 80%;
  height: 90vh;
  font-family: var(--font-family);
}
/* .content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: left;
} */
.content h2 {
  color: var(--color-dark);
  font-size: var(--fontsize-header);
  font-weight: var(--font-black);
}
.content h3 {
  color: var(--color-dark);
  font-size: var(--fontsize-sub);
  font-weight: var(--font-bold);
}

.revenues {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.revenues i {
  color: var(--color-white);
}
.revenues aside {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.expenses {
  margin-bottom: 10px;
}
.expenses i {
  color: var(--color-step-one);
}
.expenses aside {

  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* accordion menu */

.menu {
  border-radius: 0.2rem;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.menu a {
  text-decoration: none;
}
.menu-item {
  list-style: none;
  border-top: 1px solid var(--color-dark);
}
/* overflow: hidden; */
.btn {
  display: block;
  padding: 1rem 1.2rem;
  background: darkgray;
  color: var(--color-white);
  position: relative;
}
.btn i {
  margin-right: 1rem;
}
.menu-item__sub {
  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
 
}
/* overflow: hidden; */
.menu-item__sub a {
  display: block;
  padding: 1.5rem 2rem;
  color: var(--color-dark);
  font-size: 0.9rem;
  position: relative;
  border-bottom: 1px solid darkgrey;
}
.menu-item__sub a:hover {
  background: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
  color: var(--color-dark);
}
.menu-item:target .menu-item__sub {
  max-height: 20em;
}

.menu-title {
  padding-bottom: 1.5rem; 
}

.create-input-ctrls {
  width: 100%;
  padding: 1.5rem; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.create-input-ctrls label {
  display: flex;
  flex-direction: column;
}
#cntrl-title {
  padding-top: 1.5rem; 
}
#add-delete {
  font-size: var(--fontsize-sub);
  padding-right: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#add-delete i {
  color: var(--color-step-five);
  margin-left: 1rem;
}
#add-delete i:hover {
  color: var(--color-dark);
}

.create-input-ctrls input {
  padding-left: 1rem;
  height: 30px;
  width: 100%;
  border-radius: 0px;
  border: 1px solid lightgray;
  margin: 0.2rem;
}
.create-input-ctrls input:hover {
  border: 1px solid darkgray;
}
#cntrl-title {
  padding-bottom: 1rem;
}
#revenue-1 aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1rem;
}
#expenses-1 aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1rem;

}
#graph-controls {
  overflow: hidden;
}
#previous-menu-item__sub {
  display: none;
}
#submit-button {
  margin-top: 1rem;
  height: 30px;
  padding-right: 1rem;
  padding-left: 1rem;
  background: chartreuse;
  border: 1px solid lightgray;
}
#submit-button i{
padding-left: 1rem;
} 
#submit-button:hover {
  background: lightsalmon;
  color: white;
}
/* Color Theme Swatches in Hex */
.DK-TALKIES™-1-hex { color: #010440; }
.DK-TALKIES™-2-hex { color: #D7F205; }
.DK-TALKIES™-3-hex { color: #CAD95B; }
.DK-TALKIES™-4-hex { color: #D9B391; }
.DK-TALKIES™-5-hex { color: #BFB3A8; }
