:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-white: #fff;
  --color-step-one: #d4fbc4;
  --color-step-two: #d8f1c4;
  --color-step-three: #e1dec1;
  --color-step-four: #e6d2c0;
  --color-step-five: #ecc5bf;
  --fontsize-header: 2em;
  --fontsize-sub: 1.3em;
  --font-family: "Poppins", "helvetica", sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi: 600;
  --font-bold: 800;
  --font-black: 900;
}

/*^ global ^*/

nav {
  background-color: var(--color-dark);
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body {
  font-family: var(--font-family);
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
a {
  color: var(--color-dark);
  text-decoration: none;
}
.containter {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.input-fields {
  padding-top: 20%;
  width: 35%;
  height: 100vh;
  font-family: var(--font-family);
  background: linear-gradient(
    to top,
    #dbdcd7 0%,
    #dddcd7 24%,
    #e2c9cc 30%,
    #e7627d 46%,
    #b8235a 59%,
    #801357 71%,
    #3d1635 84%,
    #1c1a27 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#error {
  padding-top: 80px;
  width: 100%;
  height: 250px;
  background-color: #b8235a;
  display: flex;
  justify-content: flex-end;
}
.error-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error-msg-exit {
  width: 100%;
  display: flex;
  justify-items: right;
}
#input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content {
  width: 80%;
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.content h2 {
  color: var(--color-dark);
  font-size: var(--fontsize-header);
  font-weight: var(--font-black);
}
.content h3 {
  color: var(--color-dark);
  font-size: var(--fontsize-sub);
  font-weight: var(--font-bold);
}

/* this is the input styles */
/* .input-fields {
  display: flex;
  flex-direction: column;
} */

#dataset-title {
  margin-bottom: 10px;
}

.revenues {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.revenues i {
  color: var(--color-white);
  font-size: 20px;
}
.revenues aside {
  margin-top: 20px;
  color: var(--color-white);
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.expenses {
  margin-bottom: 10px;
}
.expenses i {
  color: var(--color-step-one);
  font-size: 20px;
}
.expenses aside {
  margin-top: 20px;
  color: var(--color-step-one);
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
